body {
}

.navbar1 {
    background-color: #cc94d6;
}

#navbar1-header {
    font-size: x-large;
    font-weight: bold;
}
.navbar-items > li > a{
    font-family: Helvetica, sans-serif;
    color: white;
}

a.basicBitch {
    font-size: 150px;
    font-weight: bold;

}

a.basicBitch:hover{
    color: white;
    font-weight: bolder;
}

.customDropDown {
    position: absolute;
    color: white;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.customDropDown:hover {
    display:block;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: none;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content li:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
